* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #182531;
  background-image: linear-gradient(35deg, #ff0f22 28%, #cc0c1b , #990914 , #66060e , #66060e );
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#182531, rgba(24, 23, 23, 0.877) 40%, #182531);
  border-radius: 2rem;

}
// #ff0f22, #cc0c1b, #990914, #66060e, #66060e

::-webkit-scrollbar-thumb:active {
  background: rgb(252, 252, 252);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(219, 217, 217);
}

/* COMMON */

body {
  // background-color: #2c3e50;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23330307' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2366060e' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23990914' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23cc0c1b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FF0F22' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.yellow-star {
  color: yellow;
}

.white-star {
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes blob {
  25% {
    d: path(
      "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
    );
    transform: rotate(-5deg);
  }
  50% {
    d: path(
      "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
    );
  }
  75% {
    d: path(
      "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
    );
    transform: rotate(5deg);
  }
}

/* UTILITY */

.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}
